<div class="social-links">
  <a href="https://twitter.com/tuxed" class="social-link" target="_blank">
    <img src="/assets/images/twitter.png" alt="Twitter" class="social-icon">
    <span>Twitter</span>
  </a>
  
  <a href="https://www.linkedin.com/in/tuxed/" class="social-link" target="_blank">
    <img src="/assets/images/linkedin.png" alt="LinkedIn" class="social-icon">
    <span>LinkedIn</span>
  </a>
  
  <a href="https://t.me/aitorroma" class="social-link" target="_blank">
    <img src="/assets/images/telegram.png" alt="Telegram" class="social-icon">
    <span>Telegram</span>
  </a>
  
  <a href="https://mastodon.social/@aitorroma" class="social-link" target="_blank">
    <img src="/assets/images/mastodon.svg" alt="Mastodon" class="social-icon">
    <span>Mastodon</span>
  </a>
  
  <a href="https://github.com/aitorroma" class="social-link" target="_blank">
    <img src="/assets/images/github.png" alt="GitHub" class="social-icon">
    <span>GitHub</span>
  </a>
</div>

<style>
.social-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

.social-link {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.social-link:hover {
    background-color: #e9ecef;
    transform: translateX(5px);
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}
</style>
