<nav class="social-grid">
  <a href="https://twitter.com/tuxed" class="social-link" target="_blank" rel="me">
    <img src="/assets/images/icons/x.svg" alt="X (Twitter)" class="social-icon">
    <span>X (Twitter)</span>
  </a>
  
  <a href="https://www.linkedin.com/in/tuxed/" class="social-link" target="_blank" rel="me">
    <img src="/assets/images/icons/linkedin.svg" alt="LinkedIn" class="social-icon">
    <span>LinkedIn</span>
  </a>
  
  <a href="https://t.me/tuxed" class="social-link" target="_blank" rel="me">
    <img src="/assets/images/icons/telegram.svg" alt="Telegram" class="social-icon">
    <span>Telegram</span>
  </a>
  
  <a href="https://github.com/aitorroma" class="social-link" target="_blank" rel="me">
    <img src="/assets/images/icons/github.svg" alt="GitHub" class="social-icon">
    <span>GitHub</span>
  </a>
  
  <a href="https://mastodon.social/@aitorroma" class="social-link" target="_blank" rel="me">
    <img src="/assets/images/icons/mastodon.svg" alt="Mastodon" class="social-icon">
    <span>Mastodon</span>
  </a>
</nav>
